WEATHER_FORECAST_API_BASE=https://api.open-meteo.com/v1/forecast
WEATHER_GEOCODING_API_BASE=https://geocoding-api.open-meteo.com/v1/search
WEATHER_LANGUAGE=it
WEATHER_TIMEZONE=auto
WEATHER_GEOCODING_COUNT=5
WEATHER_GEOCODING_FORMAT=json
WEATHER_CACHE_TTL_WEATHER_MS=180000
WEATHER_CACHE_TTL_GEOCODING_MS=300000
